/*------------------General------------------*/

@font-face {
  font-family: "hotline-miami1";
  src: url(src/fonts/FIGHTT3_.ttf);
}

@font-face {
  font-family: "hotline-miami2";
  src: url(src/fonts/discoduck.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "hotline-miami1";
  color: var(--azure);
}

:root {
  --violet: hsl(271, 76%, 53%);
  --pink: hsl(328, 100%, 54%);
  --azure: hsl(180, 100%, 50%);
  --dark: hsl(0, 0%, 11%);
  --gold: hsl(51, 100%, 50%);
}

/*------------------Header------------------*/

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: linear-gradient(var(--violet), var(--pink));
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  display: flex;
  margin-right: 1.5rem;
  justify-content: space-between;
  width: 434px;
}

.navbar-element {
  list-style: none;
}

.navbar-element > a {
  text-decoration: none;
  color: var(--gold);
  text-shadow: 3px 3px 5px var(--dark);
  font-size: 2rem;
}

.navbar-element > a:hover {
  color: var(--pink);
  text-shadow: 3px 3px var(--azure);
}

/*--------------------Body-------------------*/

#welcome-section {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: radial-gradient(
    circle,
    var(--pink),
    var(--gold) 20%,
    var(--pink) 21%,
    var(--violet),
    var(--dark)
  );
}

#welcome-section > h1 {
  padding: 12% 10%;
  font-size: 10rem;
  width: 80%;
  text-shadow: 2px 2px var(--dark);
}

.contact-area {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 20px 0;
  background: var(--violet);
}

.contact-area > a {
  text-decoration: none;
  color: var(--gold);
  font-size: 1.2rem;
}
