/*------------------General------------------*/

:root {
  --violet: hsl(271, 76%, 53%);
  --violet-darker: hsl(271, 76%, 20%);
  --pink: hsl(328, 100%, 54%);
  --pink-alpha: hsla(328, 100%, 54%, 30%);
  --azure: hsl(180, 100%, 50%);
  --dark: hsl(0, 0%, 11%);
  --dark-alpha: hsla(0, 0%, 11%, 80%);
  --gold: hsl(51, 100%, 50%);
  --gold-alpha: hsla(51, 100%, 50%, 80%);
}

@font-face {
  font-family: "hotline";
  src: url(src/fonts/FIGHTT3_.ttf);
}

@font-face {
  font-family: "vcr";
  src: url(src/fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: "bellerose";
  src: url(src/fonts/Bellerose.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "hotline";
  color: var(--azure);
  scroll-behavior: smooth;
  background-color: var(--dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-------Animations---------*/

@keyframes welcome {
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1, 1);
    color: var(--gold);
  }
  75% {
    transform: scale(1.1, 1.1);
  }
  100% {
    color: var(--azure);
  }
}

/*------------------Header------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background: linear-gradient(var(--violet), var(--pink) 95%);
  z-index: 999;
  border-bottom: 2px solid var(--dark);
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar-list {
  display: flex;
  margin-right: 2rem;
  justify-content: space-between;
  width: 434px;
}

.navbar-element > a {
  color: var(--gold);
  text-shadow: 3px 3px 5px var(--dark);
  font-size: 2rem;
}

.navbar-element > a:hover {
  color: var(--pink);
  text-shadow: 3px 3px var(--azure), 0px 0px 3px var(--azure);
}

/*--------------------Body-------------------*/

/*-Welcome-section-*/

#welcome-section {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  text-align: center;
  background: radial-gradient(
    circle,
    var(--pink),
    var(--gold) 20%,
    var(--pink) 21%,
    var(--violet) 30%,
    var(--violet-darker),
    var(--dark) 90%
  );
}

#buildings,
#water {
  position: absolute;
  width: 100%;
}

#buildings {
  height: 365px;
  top: 400px;
  z-index: 0;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

.building-group {
  position: relative;
  width: 20vw;
  height: 100%;
  min-width: 403px;
}

.building-group-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.building-group-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.building-group-background .windows {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--violet-darker),
    var(--dark) 12px,
      transparent 12px,
      transparent 27px
    ),
    repeating-linear-gradient(
      90deg,
      var(--violet-darker),
      var(--dark) 19px,
      var(--pink) 19px,
      var(--gold) 29px
    );
    box-shadow: -2px 1px 15px var(--pink-alpha);
}

.building-group-foreground .windows {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--violet),
    var(--violet-darker) 5px,
    var(--violet-darker) 12px,
      transparent 12px,
      transparent 27px
    ),
    repeating-linear-gradient(
      90deg,
      var(--violet),
      var(--violet-darker) 12px,
      var(--violet-darker) 19px,
      var(--pink) 19px,
      var(--gold) 29px
    );
    box-shadow: -2px 1px 15px var(--pink-alpha);
}

.left .building-group-background .building > *:not(.windows){
  background: linear-gradient(110deg, var(--violet-darker), var(--dark));
  box-shadow: -2px 1px 15px var(--pink-alpha);
}

.left .building-group-foreground .building > *:not(.windows){
  background: linear-gradient(110deg, var(--violet), var(--violet-darker) 70%);
  box-shadow: -2px 1px 15px var(--pink-alpha);
}

.right .building-group-background .building > *:not(.windows){
  background: linear-gradient(-110deg, var(--violet-darker), var(--dark));
  box-shadow: -2px 1px 15px var(--pink-alpha);
}

.right .building-group-foreground .building > *:not(.windows){
  background: linear-gradient(-110deg, var(--violet), var(--violet-darker) 70%);
  box-shadow: -2px 1px 15px var(--pink-alpha);
}

.space {
  width: 5%;
}

.ledge {
  height: 5%;
  width: 100%;
}

/*A*/

.type-a .bg {
  height: 75%;
  width: 90%;
  position: relative;
  left: 12%;
}

.type-a .part {
  height: 30%;
  width: 97%;
}

.type-a .fg.a {
  height: 60%;
  width: 20%;
}

.type-a .fg.b {
  height: 100%;
  min-width: 30%;
}

.type-a .roof-top {
  width: 5%;
  height: 5%;
  position: relative;
  left: 30%;
}

.type-a .roof-bottom {
  width: 90%;
  height: 5%;
  transform: perspective(15px) rotateX(10deg);
}

.type-a .part-mid {
  width: 90%;
  height: 40%;
}

.type-a .part-bottom {
  width: 100%;
  height: 40%;
}

.type-a .fg.c {
  height: 50%;
  width: 25%;
}

/*B*/

.type-b .bg.a {
  height: 95%;
  min-width: 15%;
}

.type-b .antena {
  height: 8%;
  width: 5%;
}

.type-b .roof {
  height: 7%;
  width: 80%;
}

.type-b .a .part {
  height: 85%;
  width: 100%;
}

.type-b .b .part {
  height: 92%;
  width: 95%;
}

.type-b .bg.b {
  height: 70%;
  min-width: 35%;
}

.type-b .fg.a {
  height: 65%;
  min-width: 30%;
}

.type-b .fg.a .part {
  width: 90%;
}

.type-b .fg.b {
  height: 90%;
  min-width: 15%;
}

.type-b .fg.b .trapeze {
  height: 3%;
  width: 42%;
  transform: perspective(10px) rotatex(10deg);
}

.type-b .part-top {
  width: 50%;
  height: 20%;
}

.type-b .part-mid {
  width: 70%;
  height: 33%;
}

.type-b .part-bottom {
  width: 100%;
  height: 45%;
}

.type-b .fg.c {
  height: 35%;
  min-width: 35%;
}

.type-b .fg.c .trapeze {
  height: 10%;
  width: 90%;
  transform: perspective(10px) rotatex(10deg);
}

.type-b .fg.c .part {
  width: 100%;
  height: 90%;
}

/*C*/

.type-c .bg.a {
  height: 100%;
  width: 20%;
  position: relative;
  right: 15%;
}

.type-c .bg.a .roof-top {
  height: 10%;
  width: 60%;
}

.type-c .bg.a .roof-bottom {
  height: 10%;
  width: 85%;
}

.type-c .bg.a .part{
  height: 80%;
  width: 100%;
}

.type-c .bg.b {
  height: 60%;
  min-width: 38%;
}

.type-c .bg.c {
  height: 60%;
  width: 35%;
}

.type-c .bg.c .roof {
  border-left: 90px solid var(--violet-darker);
  border-top: 30px solid transparent;
  border-right: 53px solid transparent;
}

.type-c .bg.c .part {
  height: 87%;
  width: 100%;
}

.type-c .fg.a {
  height: 55%;
  min-width: 27%;
}

.type-c .fg.b {
  height: 37%;
  min-width: 33%;
}

.type-c .fg.c {
  height: 90%;
  min-width: 18%;
}

.type-c .fg.c .roof-top {
  height: 3%;
  width: 20%;
  position: relative;
  right: 20px;
}

.type-c .fg.c .roof-bottom {
  height: 2%;
  width: 100%;
}

.type-c .fg.c .part{
  height: 45%;
  width: 95%;
}

#water {
  top: 765px;
  height: 255px;
  background: radial-gradient(
    at 50% 15%,
    var(--gold-alpha),
    var(--pink-alpha),
    var(--dark-alpha)
  );
}

#welcome-text {/*tmp*/
  font-size: 12rem;
  margin: 0 10vw;
  padding-top: 10vh;
  width: 80vw;
  text-shadow: 8px 8px var(--dark), 0px 8px var(--dark), 11px 0px var(--dark),
    -1px -1px var(--dark);
  animation: welcome 5s ease-in-out infinite;
}

#welcome-text > strong {
  font-size: 15rem;
  color: var(--pink);
  display: block;
}

/*-Work-showcase-*/

#projects-section {
  height: fit-content;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 36vw);
  margin: 4vh 13vw;
  place-items: center;
}

.project-tile {
  position: relative;
  aspect-ratio: 4/3;
  width: 550px;
  box-shadow: 1px 1px 20px var(--pink);
  border: 3px outset var(--dark);
}

.project-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-name {
  font-family: vcr;
  padding: 5px 0;
  position: absolute;
  top: 95%;
  left: 15%;
  background-color: var(--gold);
  border: 3px outset var(--dark);
  width: 70%;
  text-align: center;
  color: var(--dark);
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px var(--dark), -2px -2px 10px var(--dark);
  z-index: 1;
}

.project-description-filter {
  display: none;
}

.project-description {
  display: none;
}

.project-tile:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 1px 1px 35px var(--gold);
}

.project-tile:hover .project-description-filter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-alpha);
}

.project-tile:hover .project-description {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin: 0 10%;
  font-size: 1.6rem;
  font-family: bellerose;
  color: var(--gold);
  text-shadow: 2px 2px var(--dark);
}

/*-Contact-*/

#contact-section {
  width: 30vw;
  margin: 0 35vw 5vh;
  text-align: center;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.contact-container {
  box-sizing: content-box;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
}

.contact-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.contact-items a {
  color: var(--gold);
  font-size: 1.2rem;
}
